<section class="experience-section">
	<p class="section-header">
		Experience
	</p>
	<div class="experience">
		<p class="company-name">
			OneSpring LLC
		</p>
		<p class="client">
			Client: US Customs and Border Protection - Office of International Trade
		</p>
		<p class="role">
			IT Business Analyst, UX Designer, Developer   |   June 2014 - Present
		</p>
		<p class="role-description">
			I gather user, business, and functional requirements, then translate them into software requirements that our developers can use and more importantly, understand. I create iterative design mockups and interactive prototypes for design exploration, user testing, and communicating design specifications. As a part of a small team of Java developers, I handle most of the the front-end development and design of our projects. In addition, I help plan, scope and implement our development sprints, maintain a tidy JIRA board, and make sure we are tracking against our development goals. I also ensure that our application's UI conforms with the organization's defined UI standards. 
		</p>
	</div>
	<div class="experience">
		<p class="company-name">
			Hobsons
		</p>
		<p class="role">
			UX Research Intern   |    November 2012 - June 2013
		</p>
		<p class="role-description">
			I conducted on-site and remote user research with our UX Researchers as well as usability testing and task analysis on current and proposed features. I was responsible for maintaining and scheduling our user research participants and supporting our Lead UX Researcher with user outreach efforts to expand the pool of research participants. I also created wireframes, mockups, and interactive prototypes for use during user feedback sessions and conducted data analysis to be presented within reports to stakeholders.
		</p>
	</div>
	<div class="experience">
		<p class="company-name">
			American Association for the Advancement of Science (AAAS)
		</p>
		<p class="role">
			Financial Analyst    |    April 2012 - November 2012
		</p>
		<p class="role-description">
			I was responsible for analyzing financial data and delivering mid-year and year-end budget projections for the Marketing, Advertising and Business departments. I tracked travel and expense reports across multiple departments and ensured accurate reporting. I also maintained financial journal entries as well as produced and distributed the magazine's weekly print order to our printers and distributors.
		</p>
	</div>
		<div class="experience">
		<p class="company-name">
			Thariani Orthodontics
		</p>
		<p class="role">
			Treatment Coordinator    |    September 2009 - March 2012
		</p>
		<p class="role-description">
			As liaison between the Doctor and potential new patients of the practice, I provided detailed treatment expectations and financial cost breakdowns. I briefed the Doctor with any patient treatment goals and/or concerns before an initial consultation and performed all follow-up communications with prospective patients. To optimize the practice's treatment pricing structure and remain competitive, I regularly performed expense, competitor and market analysis. Any proposals for treatment pricing adjustments would be presented to both the Doctor as well as the Finance Manager.
		</p>
	</div>
</section>
