<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
<!-- Use title if it's in the page YAML frontmatter -->
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<link href='https://fonts.googleapis.com/css?family=Roboto: 400, 300' rel='stylesheet'>
<script src="https://use.typekit.net/cvm1wfj.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
<link href='{{ "/css/main.css"  | prepend: site.baseurl  }}' rel='stylesheet' type='text/css'>