<section class="intro">
	<div class="row">
		<div class="col-sm-12">
			<div class="intro-headline">
				<h1 class="hi pull-left">Hi <b>There</b>,</h1>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="intro-tagline">
				<p>I'm Julia. </p>
			</div>
		</div>
		<div class="col-sm-12">
			<p class="intro-text">
              I enjoy analyzing problems, brainstorming possibilities and implementing solutions. You can typically find me involved in every aspect of a project, from conception to completion, getting my hands dirty wherever I'm needed. I specialize in translating project requirements into actionable development tasks and making sure the team's goals are met. I get the most joy out of seeing ideas come to life. 
			</p>
		</div>
	</div>
</section>