<section class="skills">
  <p class="section-header">
    Skills & Proficiencies
  </p>
  <div class="row">
    <div class="col-md-6">
      <div class="general-skills">
        <p class="role">General</p>
        <ul>
          <li>UX Research & Design</li>
          <li>Design Mockups & Interactive Prototypes</li>
          <li>Front End Development</li>
          <li>Requirements Analysis</li>
          <li>Agile Software Development</li>
          <li>Product Design</li>
          <li>Interaction Design</li>
          <li>Information Architecture</li>
          <li>Project Management</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="dev-languages">
        <p class="role">Development</p>
        <ul>
          <li>Javascript</li>
          <li>HTML/CSS</li>
          <li>React</li>
          <li>Node.js</li>
          <li>Git</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="software">
      <div class="col-md-6">
        <p class="role">
          Design
        </p>
        <ul>
          <li>Sketch App</li>
          <li>JustinMind Prototyper</li>
          <li>Adobe Illustrator</li>
          <li>Adobe Photoshop</li>
          <li>Adobe InDesign</li>
          <li>Balsamiq Mockups</li>
          <li>OmniGraffle</li>
        </ul>
      </div>
      <div class="col-md-6">
        <p class="role">
          Project Planning
        </p>
        <ul>
          <li>Atlassian JIRA</li>
          <li>Atlassian Confluence</li>
          <li>Microsoft Visio</li>
          <li>Trello</li>
        </ul>
      </div>
    </div>
  </div>
</section>
