---
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  <div class="container">
    {% include header.html %}
    <div class="section-border">
      <div class="container content">
        {% include intro.html %}
      </div>
    </div>
    <div class="section-border">
      <div class="container content">
        {% include experience.html %}
      </div>
    </div>
    <div class="section-border">
      <div class="container content">
        {% include skills.html %}
      </div>
    </div>
    {% include footer.html %}
    </div>

  </body>

</html>
